#bucket-list-bar {
    width: 75%;
    height: 25px;
    margin: 0 auto;
}

#bucket-list-bar + h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.stats-card-col > .card:hover {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

a.stretched-link.card-title:link, a.stretched-link.card-title:visited {
    text-decoration: inherit;
    color: inherit;
}
